/*general css for the page*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*body css*/
body {
    background: url("/Content/countryPic/flight.jpg")no-repeat center center fixed;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    text-align:center;
}
/*icon css for departures*/
.departure:after {
    content: '\f5b0';
    font-family: FontAwesome;
    padding-left: 10px;
}
/*icon css for landing*/
.arriving:after {
    content: '\f5af';
    font-family: FontAwesome;
    padding-left: 10px;
}
/*icon css for search*/
.search:after {
    content: '\f002';
    font-family: FontAwesome;
    padding-left: 5px;
    /*color: goldenrod;*/
}
/*my logo css*/
/*.myWebLogo:after {
    content: '\f0ac';
    font-family: FontAwesome;
    padding-left: 10px;
}*/
.myWebLogo {
    /*filter: invert(1);*/
    background-color: white;
    color: royalblue;
    font-weight: bold;
    font-size: 13px;
    position: relative;
    box-shadow: 2px 2px 2px purple;
    top: 3%;
    left: 1%;
    border-radius: 10%;
    text-shadow: 1px 1px 1px silver;
    /*border: none;*/
    /*border-bottom: 1px solid;*/
    padding: 5px;
}
/*status css*/
.orangeLanding{
    background-color: orange;
}
.finalNotFinalLanding{
    background-color:green;
}

.greenDepart {
    background-color: #8CDD81;
    color: black;
}
.redDepart {
    background-color: palevioletred ;
    /*color: black;*/
    text-shadow: 1px 1px 3px white;
}
/*table css*/
.table.table-dark {
    text-shadow: 1px 1px 1px cyan;
    box-shadow: 8px 8px 8px black;
}
table.table-dark tr:nth-child(odd) {
    background-color: darkgray;
    font-weight: bold;
    font-size: 15px;
    color: black;
}

table.table-dark tr:nth-child(even) {
    background-color: lightgray;
    font-weight: bold;
    font-size: 15px;
    color: black;
}

table.table-dark th {
    font-weight: bold;
    font-size: 20px;
    background-color: gray;
    color: darkblue;
}
/*nav bar css*/
.nav-link  {
    color: purple;
    font-size: 25px;
    tab-size: 20PX;
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
}
/*button search css*/
.btn.btnsearch:after {
    content: '\f002';
    font-family: FontAwesome;
    padding-left: 5px;
}
.btn.btnsearch {
    background-color:  darkkhaki ;
    color:purple;
    box-shadow: 1px 1px 1px black;
    opacity:0.8;
    margin-right:10px;
}
/*landing departure status check box css*/
.chkbox2:after {
    content: '\f5b0';
    font-family: FontAwesome;
    padding-bottom: 8px;
}
.chkbox1{
    padding-right: 10px;
}
.chkbox1:after {
    content: '\f5af';
    font-family: FontAwesome;
    padding-bottom:8px;
}
/*background color for list search and input search*/
.form-control.inpSrch:empty, .custom-select.listSrch {
    background-color:  cornsilk;
}

/*html {
    change to opposite all colors of the web page
    filter: invert(1);
}*/
